body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f7f8fc;
    }

    nav {
      background-color: #1d2d50;
    }
    .navbar{
        padding: 15px 10px;
    }

    .navbar-brand{
        color:aliceblue;
        font-size: 2rem;
    }


    .nav-link {
      color: #fff !important;
    }

    .nav-item:hover {
      background-color: #3f4e70;
    }

    .dashboard-cards{
        margin-top: 30px;
    }
    .card {
      border-radius: 12px;
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card-title {
      font-size: 1.5rem;
      color: rgb(80, 88, 97);
      font-weight: 600;
    }

    .card-body {
      text-align: center;
      padding: 20px;
    }

    .icon {
      font-size: 3.5rem;
      margin-bottom: 20px;
      color: #1d2d50;
    }

    .card-text {
      font-size: 1.2rem;
      color: #495057;
      font-weight: 500;
    }

    footer {
      background-color: #1d2d50;
      color: white;
      padding: 15px;
      position: fixed;
      width: 100%;
      bottom: 0;
    }
    

    .navbar-collapse{
        margin-left: 600px;
        text-align: right;
    }






/* 
.navbar-brand{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item{
    color:aliceblue;
}
.nav-link{
    color: aliceblue;
}

.right{
    display: flex;
    flex-direction: row;
}

.navbar-toggler-icon{
    color: aliceblue;
} */