.container{
    width:450px;
    /* height: 200px; */
    padding: 20px;
    background-color: rgb(223, 223, 243);
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(179, 179, 247);
    border-radius: 15px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: justify;
}